h2 {
  padding-top: 20px;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}
h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 25px;
  font-weight: solid;
}
h4 {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
}
h5{
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
}
#box {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}
.card {
  box-shadow: 5px 10px 18px rgb(184, 182, 182);
  border: white 15px solid;
  opacity: 1;
  transition: 0.3s;
}
.card:hover {
  opacity: 0.6
}
#profile {
  background-color: white;
}
#profile:hover {
  opacity: 4;
  transition: none;
}
#contactPage {
background-color: white;
}
form {
  margin: 20px;
}
#contactPage:hover {
  opacity: 4;
  transition: none;
}
#contactMe {
  text-indent: 20px;
  padding-top:10px;
}
footer {
  font-size: 15px;
  padding: 12px;
  background-color: white;
  text-align: center;
  color: black;
  }

.btn {
  background-color: rgb(190, 107, 107);
  border: 1px solid white;
  color: white;
}
.btn:hover {
  background-color: rgb(216, 196, 196);
  border: 1px solid white;
  color: white;
}
#linkedIn {
  border: none;
}
#links {
  text-align: center;
}
#about-button {
  font-size: 20px;
  margin-left: 250px;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px

}
a {
  color: black;
  text-align: center;
  text-decoration: none;
}
a:hover {
color: black;
text-decoration: none;
}
#pro {
  background-color: rgb(196, 183, 183);
  color: white;
}