h2 {
  padding-top: 20px;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}
h4 {
font-size: 20px;
}
.card {
  box-shadow: 5px 10px 18px rgb(184, 182, 182);
  border: white 15px solid;
  opacity: 1;
  transition: 0.3s;
}
.card:hover {
  opacity: 0.6
}
#profile {
  background-color: white;
}
#profile:hover {
  opacity: 4;
  transition: none;
}
#contactPage {
background-color: white;
}
form {
  margin: 20px;
}
#contactPage:hover {
  opacity: 4;
  transition: none;
}
h3 {
  font-family: 'Heebo', sans-serif;
}
.fa {
  color: black;
}
.fab {
  color: black;
}
#contactMe {
  text-indent: 20px;
}
footer {
  font-size: 30px;
  background-color: white;
  text-align: center;
  font-family: 'Sacramento', cursive;
  color: black;
  }

.btn {
  background-color: rgb(190, 107, 107);
  border: 1px solid white;
  color: white;
}
.btn:hover {
  background-color: rgb(216, 196, 196);
  border: 1px solid white;
  color: white;
}
#linkedIn {
  border: none;
}
#links {
  text-align: center;
}
#about-button {
  font-size: 20px;
  margin-left: 250px;
  text-align: center;
  padding: 15px 20px 15px 20px;
}